In [5]:
s = "   Hello Python!    "
print(s)
print(s.strip())
print(s.rstrip())
print(s.lstrip())

   Hello Python!
Hello Python!
   Hello Python!
Hello Python!

In [7]:
# 특정 문자 제거
s = "##100kg, ##200kg"
print(s.rstrip("kg"))
print(s.lstrip("##"))

##100kg, ##200
100kg, ##200kg

In [10]:
# 문자열 변경
s = "Hello Python!"
print(s.replace("Hello", "Hi"))

Hi Python!

In [16]:
print("1234".isdigit())
print("Python".isalpha())
print("pass123".isalnum())
print("hello".islower())
print("HELLO".isupper())
print("     ".isspace())

True
True
True
True
True
True

In [18]:
#행 변환1
a = 1234
# print(a + "kg")  에러!
print(str(a) + "kg")

1234kg

In [24]:
# 행 변환2
print(int("1234") + 2000)
print(float("3.14") + 100.005)

3234
103.145

In [28]:
# formet() 함수1
print("{}".format(10))
print("{} {}".format(10, 20))
print("{} {} {} {} {}".format(10, 20, 30, 40, 50))

10
10 20
10 20 30 40 50

In [29]:
# format() 함수2
name = "홍길동"
age = 20
print(f"이름은 {name}이고, 나이는 {age}입니다.")
print("이름은 {}이고, 나이는 {}입니다.".format(name, age))

이름은 홍길동이고, 나이는 20입니다.
이름은 홍길동이고, 나이는 20입니다.

In [30]:
# format() 함수3
a = 4
b = 3.14159265
print("20{:02d}".format(a))                # a 값을 두자리로 출력하되 앞의 빈곳은 0으로 채움
print("{:.3f}".format(b))                  # b 값을 소수점 이하 세자리로 반올림하여 출력

2004
3.142

In [35]:
a = 4 
b = 3.14159265
print("{:04d}".format(a))
print("{:.3f}".format(b))

0004
3.142

In [37]:
# 리스트 생성1
lst = [1, 2, 3, 4, 5]
print(lst)
print(len(lst))

[1, 2, 3, 4, 5]
5