# 2. python 기초
## 2.1. 기초문법
### 2.2.1. 변수

# 2. python 기초
## 2.1. 기초문법
### 2.2.1. 변수

In [8]:
# 변수에 값을 저장하고 출력
age = 20
height = 180.5

print(age) 
print(height)

20
180.5

In [9]:
# 변수에 저장된 값 변경
age = 21
print(age)

21

In [10]:
# 여러 변수에 값 대입
a = b = c = 7
print(a)
print(b)
print(c)

7
7
7

In [11]:
# 코드 한 줄에서 여러 개의 변수에 각각 다른 값을 한번에 대입할 수 있음
a, b, c = 7, 11, 19
print(a)
print(b)
print(c)

7
11
19

In [12]:
# 두 변수의 값 교환
a = 7
b = 11
temp = a
a = b
b = temp
print(a, b)

11 7

In [13]:
# Python에서는 튜플 패킹과 언패킹을 활용하여 임시변수 없이 두 변수의 값을 쉽게 값을 변경할 수 있음
a = 7
b = 11
a, b = b, a
print(a, b)

11 7

In [16]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [18]:
# 정수형
a = 20      # 10진수
b = 0o34    # 8진수
c = 0xA1    # 16진수
d = 0b1110  # 2진수
print(a, b, c, d)
print(type(a))

20 28 161 14
<class 'int'>

In [21]:
# 부동소수정수형
a = 3.14
b = 1.23e-5     #지수 표현 방식
print(type(a))

<class 'float'>

In [22]:
# 문자열형
a = 'Hello'
b = 'Python'
print(a, b)
print(type(a))

Hello Python
<class 'str'>

In [23]:
# 문자열 연결
# 문자열 연결 연산자 +로 문자열과 문자열을 연결할 수 있음
print('Hello' + ' python')

Hello python

In [24]:
# bool 형
print(True)
print(False)
print(type(True))
print(type(False))

True
False
<class 'bool'>
<class 'bool'>

In [27]:
a = True
b = False
print(a, b)
print(type(a))
print(type(b))

True False
<class 'bool'>
<class 'bool'>

In [31]:
# 문자열 입력
name = input('이름: ')
print(name)

이름:  park

park

In [33]:
# 두 개의 정수 입력받아 합계 산출
a = input("정수1: ")
b = input("정수2: ")
print(a+b)

정수1:  10
정수2:  20

1020

In [34]:
# 두 개의 정수 입력받아 합계 산출
# input 함수를 통해서 입력받은 데이터는 문자열형임
# 따라서 int() 함수를 이용하여 정수 형식의 문자열을 정수로 변환해야 함
# [참고] float() 함수를 이용하여 부동소수점수 형식의 문자열을 부동소수정수로 변환함
a = int(input("정수1: "))
b = int(input("정수2: "))
print(a+b)

정수1:  109
정수2:  20

129

In [35]:
#문자열 풀력
score = 50
print("성적은", score, "점입니다.")

성적은 50 점입니다.

In [36]:
# print() 함수가 여러 개일 때는 다음 줄로 넘어가서 값을 출력함
a = 25
b = 42
print(a)
print(b)

25
42

In [38]:
# print() 함수가 여러 개일 때는 
# 다음 줄로 넌ㅁ어가는 대신 공백이 출력되기를 원하면
# end 매개변수를 공백으로 설정함
a = 25
b = 42
print(a, end='    ')
print(b)

25    42

In [39]:
# f-문자열 사용
name = '홍길동'
age = 20
print(f'이름은 {name}이고, 나이는 {age}입니다.')

이름은 홍길동이고, 나이는 20입니다.

In [41]:
# f-문자열 출력 형식 지정
# 변수명 옆에 ;을 작성한 다음 형식을 지정함
a = 4
b =3.149265

print(f'20{a}')

204

In [42]:
# f-문자열 출력 형식 지정
# 변수명 옆에 ;을 작성한 다음 형식을 지정함
a = 4
b =3.149265

print(f'20{a:2d}')

20 4

In [43]:

# f-문자열 출력 형식 지정
# 변수명 옆에 ;을 작성한 다음 형식을 지정함
# a의 값을 두 자리로 출력하되, 앞의 빈 곳은 0으로 채움
a = 4
b =3.149265

print(f'20{a:02d}')

2004

In [45]:
# f-문자열 출력 형식 지정
# 변수명 옆에 ;을 작성한 다음 형식을 지정함
# a의 값을 두 자리로 출력하되, 앞의 빈 곳은 0으로 채움
a = 4
b =3.149265

print(f'20{a:02d}')

#b 값을 소수점 이하 세자리로 반올림하여 출력
print(f'원주율은 {b:.3f}입니다.')

2004
원주율은 3.149입니다.

## 2.2. 조건문
### 2..2.2. IF 문

In [55]:
# 무작위로 1~100 사이의 두 정수를 생성한 후, 큰 수부터 작은 수 순으로 출력
import random
a = random.randint(1, 100)
b = random.randint(1, 100)

# 큰 값부터 원함... if문 추가!
if a<b: 
    a,b = b, a

print(a, b)

79 13